[SONARR_SOURCE]
URL = http://192.168.1.1:8989
TOKEN = xxxx
ROOTFOLDER = 1

[SONARR_DEST]
URL = http://192.168.1.1:8990
TOKEN = xxxx
ROOTFOLDER = 1

[SYNC]
ENABLED = ON
DRY_RUN = ON
VERBOSE_LOGGING = ON
